<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body style="background-color:#1F1F1F">
<div class="container">

	<table class="table">
	<tr>
    <h1 id=techr><font color="#c0c0c0">Tech Reference for next interview</font></h1>
	<tr>
	 <h5 class="text-warning"><i>&nbsp;&nbsp;Attending tens of interviews makes us gain experience. But, also we can refer these topics before
	 we head to interviews</i></h5>
	</table>
    <div class="jumbotron text-center container">
        <!--h1><span class="fa fa-lock"></span> Node Authentication</h1-->

        <!--p>Login or Register with:</p-->

        <a href="/login" class="btn btn-primary"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-primary"><span class="fa fa-user"></span> Signup</a>
    </div>

</div>
</body>
</html>

