	<table class="" width=105%>
		<tr class="" >
			<td width=75%>
				<!--h1 id=techr><font color="#c0c0c0">Tech Reference for next interview</font></h1>
				<h5 class="text-warning">
					<i>&nbsp;&nbsp;Attending tens of interviews makes us gain experience. But, also we can refer these topics before
						we head to interviews
					</i>
				</h5-->
				
				<table class="" width=90%>
					<tr>
						<td>
							<h1 id=techr><font color="#c0c0c0">Tech Reference for next interview</font></h1>
						</td>
						<td>
						<table class="table-bordered" width=100%>
						<td bgcolor= #fcffe1  >
							<font class=logo1>&nbsp;&#9805;&nbsp;</font>
						</td>

						</tr>
						</table>
						</td>
					</tr>
				
					<tr >
						<td >
							<h5 class="text-warning">
								<i>&nbsp;&nbsp;Attending tens of interviews makes us gain experience. But, also we can refer these topics before
									we head to interviews
								</i>
							</h5>		
						</td>
						
					</tr>
				</table>
				
				
				
			</td>
			
			<td align=right class=login-space width=175%>
				<div class="dropdown">
				    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><%= user.local.email %>
				    <span class="caret"></span></button>
				    <ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#">Settings</a></li>      
						<li class="divider"></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
				</div>				
			</td>
			
		</tr>
	</table>
