
<nav id="myNavbar" class=" navbar-default navbar-inverse navbar-fixed-top" style="background-color:  #565e0e  ;" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid">
        <div class="navbar-header" >
         
            <a class="navbar-brand" href="#"><font  class=logo1>&nbsp;&#9805;&nbsp;</font></a>
		
			
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">


			
			
            <!--ul class="nav navbar-nav" -->
				<ul class="nav navbar-nav" id=ul_bar>
                <li class=active id=li_home><a target="" href="#" id=home>Home</a></li>
                <li id=li_about><a target="" href="#" id=about>About</a></li>
                <li id=li_contact><a target="" href="#" id=contact>Contact</a></li>
            </ul>
			
			
	
							
						
			
			<div class="dropdown" align=right style="padding-left:0px;padding-bottom:0px;padding-top:5px;">
				    <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown"><%= user %>
				    <span class="caret"></span></button>
				    <ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#">Settings</a></li>       
						<!--li class="divider"></li-->
						<li><a href="/logout">Logout</a></li>
					</ul>
				</div>	
		</div>
    </div>
</nav>

<div class="jumbotron" style="background-color:#1F1F1F;padding-left:0px;padding-bottom:0px;padding-top:25px;" class=techs-div>
    <div  >
	<table class="" width=90%>

		<tr class="" >
			<td width=75%>
	
				<table class="" width=120%>
					<!--tr>
						<td>
							<h1 id=techr style="font-size:42px;padding-left:0px;padding-bottom:0px;padding-top:5px"><font color="#c0c0c0">Tech Reference for next interview</font></h1>
						</td>
						<td>
						<table class="table-bordered" width=100%>
						<td bgcolor= #fcffe1  >
							<font class=logo1>&nbsp;&#9805;&nbsp;</font>
						</td>

						</tr>
						</table>
						</td>
					</tr-->
				
					<tr >
						<td >
							<h5 class="text-warning" style="padding-left:0px;padding-bottom:0px;padding-top:20px;">
								<i>&nbsp;&nbsp;Attending tens of interviews makes us gain experience. Refer the topics presented here before
									you head to interviews
								</i>
							</h5>		
						</td>
						
					</tr>
				</table>

			</td>
			
		
			
		</tr>
	</table>
	</div>
	</div>
