		h1 {
		     font-family: 'Josefin', slab;
		     font-size: 48px;
		     text-shadow: 2px 2px 2px #aaa;
		}
		
		h5 {
		     font-family: 'Josefin', slab;
		     font-size: 14px;
		     
		}
		
		.a1 {
			  font-family: 'Anivers';
		     font-size: 18px;
		     text-shadow: 2px 2px 2px #aaa;
			 color: c0c0f0
			  
		}
		
		.a2 {
			  font-family: 'Josefin';
		     font-size: 18px;
		     text-shadow: 2px 2px 2px #aaa;
			 color: c0c0f0  
		}
		
		.a3 {
			  font-family: 'Sofia';
		     font-size: 18px;
			 color: c0c0f0
		}
		
		
		
		a:hover {
			cursor:pointer;
		}
		
		.a4 {
			font-family: 'Combo';
		    font-size: 18px;
			color: 98DDDE
		}
			
		.a5 {
			font-family: 'Federant';
		    font-size: 18px;
			color: D4E852
		}

		.a6 {
			font-family: 'Marck Script';
		    font-size: 18px;
			color: FEF6D7
		}

		.a7 {
			font-family: 'Arsenal';
		    font-size: 18px;
			color: FEF6D7
		}
		
		.a_topic {
			font-family: 'Anivers';
		    font-size: 16px;
		    text-shadow: 1px 1px 1px #aaa;
			color: FFD700  
		}
		
		.login_name {
			font-family: 'Anivers';
		    font-size: 16px;
		    text-shadow: 1px 1px 1px #aaa;
			color: c0c0c0  
		}
		
		.topics_des {
			font-family: 'Anivers';
		    font-size: 16px;
		    text-shadow: 0px 0px 0px #aaa;
			color: c0c0c0
		}
		
		tr.spaceUnder>td {
			padding-bottom: 2em;
		}
		
		tr.spaceUnder1>td {
			padding-bottom: 0.4em;
		}

		tr.spaceUnder2>td {
			padding-bottom: 1.4em;
		}
		
		.textarea_nodrag {
			resize: none;
		}
		
		tr.spaceTop>td {
			padding-top: 8em;
		}
		
		.btn-transparent {
			background: transparent;
		    color: #c0c0c0;
		    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
		    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
		    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
			transition: background .2s ease-in-out, border .2s ease-in-out;
			border: 1px solid #c0c0f0;
		}

	    .btn-transparent:hover {
	        color: black;
	        background-color: c0c0e0;
		}
		
		.login-space {
			padding-top: 0px;
			padding-bottom: 60px;
		}
		
		.techs-div {
			padding-left: 600px;
		}
		
		.logo {
		     font-family: 'Josefin', slab;
		     font-size: 24px;
			 font-color: FFD700
		     text-shadow: 2px 2px 2px #aaa;
			 color: #93DC69
		}
		
		.logo1 {
		     font-family: 'Josefin', slab;
		     font-size: 24px;
			 font-color: 000000
		     text-shadow: 2px 2px 2px #aaa;
			 color: #D4E852
		}
		
		div1:empty:before {
			content:attr(data-placeholder);
		}

		.panel-tabs {
		    position: relative;
		    bottom: 30px;
		    clear:both;
		    border-bottom: 1px solid transparent;
		}

		.panel-tabs > li {
		    float: left;
		    margin-bottom: -1px;
		}

		.panel-tabs > li > a {
		    margin-right: 2px;
		    margin-top: 4px;
		    line-height: .85;
		    border: 1px solid transparent;
		    border-radius: 4px 4px 0 0;
		    color: #ffffff;
		}

		.panel-tabs > li > a:hover {
		    border-color: transparent;
		    color: #ffffff;
		    background-color: transparent;
		}

		.panel-tabs > li.active > a,
		.panel-tabs > li.active > a:hover,
		.panel-tabs > li.active > a:focus {
		    color: #fff;
		    cursor: default;
		    -webkit-border-radius: 2px;
		    -moz-border-radius: 2px;
		    border-radius: 2px;
		    background-color: rgba(255,255,255, .23);
		    border-bottom-color: transparent;
		}


		input::placeholder {
			font-family: 'Arsenal';
			font-size: 18px;
		}

		textarea::placeholder {
			font-family: 'Arsenal';
			font-size: 18px;
		}

		.nav-tabs { border-bottom: 2px solid #c0c0c0; }
		.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
		.nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #000 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
		.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
		.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
		.tab-pane { padding: 0px 0; }
		.tab-content{padding:2px}

		.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
